*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-color: $bg-light;
    overflow-x: hidden;
}

.bg-burgundy {
    background-color: $accent-burgundy !important;
}

.text-center {
    text-align: center !important;
}

.bg-light-grey {
    background-color: $bg-light !important;
}

.bg-white {
    background-color: white;
}

.bg-czech {
    background-color: #CE003B;
}

.bg-portugal {
    background-color: #4F9F65;
}

.text-dark {
    color: $text-dark;
}

.bg-purple {
    background-color: #7B0040;
}

.bg-green {
   background-color: #8A9545; 
}

.bg-white {
    background-color: white;
}

.center-row {
    text-align: center;
}

.margin-top-med {
    margin-top: 6rem;
}

.margin-top-small {
    margin-top: 3rem;
}

.padding-bottom-xlarge {
    padding-bottom: 15rem;
}

.padding-top-large {
    padding-top: 9rem;
}

.padding-bottom-large {
    padding-bottom: 9rem;
}

.padding-bottom-xxlarge {
    padding-bottom: 18rem;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.standard-two-row {

    display: flex;
    align-items: center;
    
    h1 {
        color: $text-dark;
        font-size: 6.5rem;
        margin-top: 0;
    }

    p {
        margin-top: 0.6rem;
        font-family: $proxima-nova-alt;
        font-weight: 400;
        padding-right: 8rem;
        font-size: 1.5rem;
        color: $text-dark;
        line-height: 2.4rem;
    }

}