body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: $d-din;
    src: url('fonts/d-din-bold-webfont.woff');
    font-weight: 600;
}

@font-face {
    font-family: $d-din;
    src: url('fonts/d-din-webfont.woff');
    font-weight: 400;
}

@font-face {
    font-family: $proxima-nova-alt;
    src: url('fonts/Proxima Nova Alt Regular-webfont.ttf');
    font-weight: 400;
}

@font-face {
    font-family: $proxima-nova-alt;
    src: url('fonts/Proxima Nova Alt Condensed Semibold-webfont.ttf');
    font-weight: 500;
}

@font-face {
    font-family: $proxima-nova-alt;
    src: url('fonts/Proxima Nova Alt Bold-webfont.ttf');
    font-weight: 600;
}

@font-face {
    font-family: $proxima-nova-alt;
    src: url('fonts/Proxima Nova Alt Black-webfont.ttf');
    font-weight: 700;
}

@font-face {
    font-family: $proxima-nova;
    src: url('fonts/Proxima Nova Thin-webfont.ttf');
    font-weight: 300;
}

@font-face {
    font-family: $proxima-nova;
    src: url('fonts/Proxima Nova Semibold-webfont.ttf');
    font-weight: 500;
}

@font-face {
    font-family: $proxima-nova-scosf;
    src: url('/assets/fonts/Proxima Nova ScOsf Thin-webfont.ttf');
    font-weight: 300;
}

h1 {
    font-size: 8rem;
    color: $text-light;
    font-family: $proxima-nova-alt;
    font-weight: 600;

    &.block {
        display: block !important;
    }

    &.h1-med {
        font-size: 6.6rem;
    }

    .h1-small {
        font-size: 3.5rem;
    }

    &.underline-dark {
        position: relative;
        display: inline-block;
        &::after {
            content: "";
            width: 100%;
            height: 1rem;
            background-color: $text-grey;
            position: absolute;
            bottom: -1.8rem;
            left: 0;
        }
    }

    &.underline-pink {
        position: relative;
        display: inline-block;
        &::after {
            content: "";
            width: 100%;
            height: 1rem;
            background-color: $accent-pink;
            position: absolute;
            bottom: -0.7rem;
            left: 0;
        }
    }

    &.underline-yellow {
        position: relative;
        display: inline-block;

        &::after {
            content: "";
            width: 100%;
            height: 1rem;
            background-color: $accent-yellow;
            position: absolute;
            bottom: -2rem;
            left: 0;
        }
    }

    &.underline-red {
        position: relative;
        display: inline-block;

        &::after {
            content: "";
            width: 100%;
            height: 1rem;
            background-color: #CE003B;
            position: absolute;
            bottom: -2rem;
            left: 0;
        }
    }

    
}

h2 {
    font-family: $proxima-nova-alt;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: $text-light;
    letter-spacing: 2px;
}

h3 {
    font-size: 3.5rem;
    font-family: $proxima-nova;
    font-size: 500;
    color: $text-light;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1rem;
        background-color: $accent-yellow;
        bottom: -1.3rem;
        left: 0;
    }

    &.underline-blue {
        &::after {
            background-color: $accent-blue;
        }
    }

    &.underline-red {
        &::after {
            background-color: #CE003B;
        }
    }

    &.underline-green {
        &::after {
            background-color: #4F9F65;
        }
    }
}

h4 {
    font-family: $proxima-nova-alt;
    font-weight: 400;
    color: $text-dark;
    font-size: 2.4rem;
    margin-top: 0.7rem;
    margin-bottom: 0;
}

p {
    &.slide-count {
        color: $text-light;
        font-family: $proxima-nova-alt;
        font-weight: 600;
        letter-spacing: 1.56px;
        font-size: 1.6rem;
    }

    &.label {
        font-family: $proxima-nova-alt;
        font-weight: 600;
        color: $text-dark;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 1px;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}

.text-margin-small {
    
    .text-main {
        &:not(:first-of-type) {
            margin-top: 2rem;
        }
    }

}

.text-normal {
    font-family: $proxima-nova-alt;
    font-weight: 400;
    font-size: 1.5rem;
    color: $text-dark;
    line-height: 2.4rem;
}


