.main-menu{
    visibility: hidden;
    transform: none !important;
    .top-segment,
    .bottom-segment{
        visibility: hidden;
        overflow: hidden;
        @include transition(1s,cubic-bezier(.19,1,.22,1));
    }
    .links-segment,
    .slider-row{
        a{
            opacity: .7;
            @include transition(1s,cubic-bezier(.19,1,.22,1));
            &:hover{
                opacity: 1;
            }
        }
    }
<<<<<<< HEAD
=======
    .icon-row{
        opacity: 0;
        @include transition(1s,ease);
    }
>>>>>>> be1e9c0b56af2a484c4bddaa7b2ac7992b103f3e
    .top-segment{
        transform: translateX(-120%) skewX(-15deg);
        -o-transform: translateX(-120%) skewX(-15deg);
        -moz-transform: translateX(-120%) skewX(-15deg);
        -webkit-transform: translateX(-120%) skewX(-15deg);
<<<<<<< HEAD
        .icon-row{
            padding-top: 3rem;
            opacity: 0;
            @include transition(1s,ease);
        }
=======
>>>>>>> be1e9c0b56af2a484c4bddaa7b2ac7992b103f3e
        .location-select{
            opacity: 0;
            padding-top: 7rem;
            font-weight: 400;
            color: white;
            font-size: 2.4rem;
            position: relative;
            display: inline-block;
            @include transition(1s,ease);
            select{
                outline: none;
                cursor: pointer;
                opacity: .5;
                appearance: none;
                background-color: transparent;
                border: none;
                color: white;
                font-weight: 600;
                @include transition(1s,ease);
                &:hover{
                    opacity: 1;
                }
            }
        }
        .locations-carousel-group {
            .location-carousel {
                height: 0;
                overflow: hidden;
                .owl-stage-outer{
                    overflow: visible;
                }
                .owl-item {
                    opacity: 0;
                    margin-top: -5rem;
                    @include transition(1s,ease);
                    .location{
                        color: white;
                        font-weight: 600;
                        font-size: 6rem;
                        white-space: nowrap;
                        opacity: .5;
                        @include transition(1s,ease);
                        &:hover{
                            opacity: 1;
                        }
                        a{
                            color: white;
                        }
                        .dash{
                            padding-right: 2rem;
                        }
                    }
                    &:last-child{
                        .dash{
                            display: none;
                        }
                    }
                }
                &.active {
                    height: unset;
                }
            }
        }
    }
    .bottom-segment{
        transform: translateX(120%) skewX(-15deg);
        a.bottom-item{
            background-color: #7B0040;
            display: block;
            height: 100%;
            width: 100%;
            overflow: hidden;
            img.bg-image{
                opacity: .5;
                height: 100%;
                width: 100%;
                object-fit: cover;
                @include transition(3s,cubic-bezier(.19,1,.22,1));
                transform: scale(1.25);
                -o-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -webkit-transform: scale(1.25);
            }
            .title{
                bottom: 7rem;
                opacity: 0;
                @include transition(1s,ease);
                .arrow {
                    @include d-flex;
                    @include align(c);
                    width: 40px;
                    height: 40px;
                    background-color: #ff2261;
                    border-radius: 50%;
                    color: white;
                    @include transition(.5s,ease);
                }
            }
        }
    }
    &.active{
        .icon-row,
        .location-select{
            opacity: 1;
        }
        .top-segment,
        .bottom-segment{
            visibility: visible;
            transform: translateX(0) skewX(0);
            -o-transform: translateX(0) skewX(0);
            -moz-transform: translateX(0) skewX(0);
            -webkit-transform: translateX(0) skewX(0);
        }
    }
    &.finished{
        .top-segment {
            .locations-carousel-group {
                .location-carousel {
                    &.active{
                        .owl-item {
                            opacity: 1;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
        .bottom-segment{
            a.bottom-item{
                .title{
                    bottom: 2rem;
                    opacity: .7;
                }
                &:hover{
                    img.bg-image{
                        opacity: 1;
                        transform: scale(1);
                        -o-transform: scale(1);
                        -moz-transform: scale(1);
                        -webkit-transform: scale(1);
                    }
                    .title{
                        opacity: 1;
                        .arrow {
                            color: #ff2261;
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}
