<<<<<<< HEAD
.single-hostel .about,
.single-hostel .details-lower {
    background-color: #f5f7f6;
}

.city-details {
    .details-header {
        .details-links {
            li {
                @include d-flex;
                @include align(c);
                @include transition(.5s,ease);
                img {
                    height: 3rem;
                    width: auto;

                    &.black {
                        display: block;
                    }
                    &.white {
                        display: none;
                    }
                }
                &:hover {
                    opacity: .5;
                }
                &.detail-link-active {
                    opacity: 1;
                    img {
                        &.black {
                            display: none;
                        }
                        &.white {
                            display: block;
                        }
                    }
                }
                &:after {
                    z-index: 1;
                }
            }
        }
    }
    .details-lower.details-lower-about {
        padding: 10rem 0;
        background-color: #f5f7f6;
        .header {
            padding-bottom: 7rem;
            h3 {
                margin: 0;
                display: inline-block;
                font-size: 3.5em;
                font-weight: 600;
                color: #4b4b4b;
            }
        }
        .content {
            margin: 0 -2rem;
            @include d-flex;
            @include align(v);
            .col-33,
            .col-66 {
                padding: 0 2rem;
            }

            .col-33 {
                width: 33.33%;
            }

            .col-66 {
                position: relative;
                width: 66.66%;
            }

            .info {
                h5 {
                    font-weight: 600;
                    font-size: 1.2em;
                    margin: 0;
                    margin-bottom: 3rem;
                }
                p {
                    padding: 0;
                    margin: 0;
                    margin-bottom: 5rem;
                }
                .buttons {
                    @include d-flex;
                    .btn {
                        &:nth-child(1) {
                            margin-right: 3rem;
                        }
                    }
                }
            }
            .foods-beverages {
                .food-beverage {
                    padding: 2rem;
                    background-color: white;
                    .image {
                        height: 40rem;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    p {
                        line-height: 1.2;
                        font-size: 1.5em;
                        margin: 0;
                        font-weight: 600;
                    }
                }
            }
            .circle {
                @include d-flex;
                @include align(c);
                flex-direction: column;
                -webkit-flex-direction: column;
                position: absolute;
                z-index: 1;
                top: 30%;
                left: 40%;
                background-color: #ff2261;
                color: white;
                height: 9rem;
                width: 9rem;
                border-radius: 50%;
                img {
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
}

=======
>>>>>>> be1e9c0b56af2a484c4bddaa7b2ac7992b103f3e
.hostel{
    .book-now-featured{
        padding: .5rem 0;
        span{
            color: white;
            border: 1px solid white;
            padding: 1rem 2rem;
        }
    }
    &.place.active.placehodlers{
        .place-inner{
            background-color: #7B0040;
            align-items: flex-end;
            padding: 1em 0;
        }
        .location-title-inner{
            width: 90%;
        }
        a{
            background-color: transparent;
            border: 1px solid #ffffff;
            opacity: 1;
            text-transform: uppercase;
            padding: 1.5rem 1.9rem;
            font-size: 0.8em;
            display: inline-block;
            @include transition(0.5s,ease);
            &:hover{
                background-color: #FACE42;
            }
        }
        h2{
            text-transform: none;
            font-size: 2em;
            font-weight: 100;
            margin-top: 1rem;
        }
    }
}
<<<<<<< HEAD
.room-overlay {
    z-index: 10000;
    .close-room-overlay {
        position: absolute;
        cursor: pointer;
        top: 10rem;
        right: 10rem;
        z-index: 10;
        @include transition(1s,ease);
        .x {
            @include d-flex;
            @include align(c);
            &:before,
            &:after {
                content: "";
                position: absolute;
                height: 1rem;
                width: 5rem;
                background-color: white;
            }
            &:before {
                transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
            &:after {
                transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }
        &:hover {
            opacity: .5;
        }
    }
}
.explorer.expore {
    border-top: 3px solid #face42;
    background-color: white;
    .single-hostels-carousel {
        .owl-stage-outer {
            overflow: visible;
        }
        .explore-vertical-stack {
            @include d-flex;
            height: 60rem;
            &.large {
                width: 90rem;
            }
            &.small {
                width: 35rem;
            }
            .underline-yellow {
                position: absolute;
                top: -5rem;
            }
            .hastag {
                @include d-flex;
                @include align(c);
                background-color: #f5f7f6;
                span {
                    font-weight: 500;
                    font-size: 3.5rem;
                    color: #4a4a4a;
                }
            }
            .featured-tour {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 100%;
            }
            .explore-vertical-75 {
                padding: 1rem;
                height: 75%;
                width: 100%;
            }
            .explore-vertical-50 {
                position: relative;
                padding: 1rem;
                height: 50%;
                width: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                span {
                    position: absolute;
                    z-index: 1;
                    bottom: 1rem;
                    left: 2rem;
                    padding: 1rem 2rem;
                    color: white;
                }
            }
            .explore-vertical-25,
            .explore-horizontal-45,
            .explore-horizontal-55 {
                @include d-flex;
                padding: 1rem;
            }

            .explore-vertical-25 {
                height: 25%;
                width: 100%;
            }
            .explore-horizontal-55 {
                width: 55%;
            }
            .explore-horizontal-45 {
                width: 45%;
            }
        }
    }
    .slider-controls {
        .owl-dot {
            padding: 0;
            border: none;
            outline: none;
            cursor: pointer;
            width: 10px;
            height: 10px;
            background-color: #C9C9C9;
            display: inline-block;
            margin-left: 1rem;
            margin-top: 1.5rem;
            border-radius: 50%;
            @include transition(1s,ease);
            &.active {
                background-color: #4A4A4A;
            }
        }
    }
}
.inspiration {
    .inspiration-row {
        @include d-flex;
        height: 60rem;
        margin: 0 -1rem;
        .col-25 {
            @include d-flex;
            width: 25%;
            height: 100%;
        }
        .col-5 {
            @include d-flex;
            width: 50%;
            height: 100%;
        }
        .v-half {
            height: 50%;
            width: 100%;
        }
        .h-half {
            height: 50%;
            width: 100%;
        }
        .c-half {
            width: 50%;
            height: 50%;
        }
        .inspiration-item {
            margin: 0;
            padding: 1rem;
            .inner {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    margin: 0;
                }
                .overlay {
                    padding: 2.5rem;
                    background-color: rgba(0,0,0,.3);
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    @include transition(1s,ease);
                    span {
                        display: inline-block;
                        position: initial;
                        margin-bottom: 2rem;
                    }
                    h5 {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            &:hover {
                .inner {
                    .overlay {
                        opacity: 1;
                    }
                }
            }
            &:after {
                content: none;
            }
        }
    }
    .load-more-row {
        .button {
            background-color: #EA1E76;
            margin: 0;
            &:hover {
                background-color: #FACE42;
            }
=======
.city-details {
    .details-header {
        .details-links {
            li {
                @include transition(.5s,ease);
                &:hover {
                    opacity: .5;
                }
                &.detail-link-active {
                    opacity: 1;
                }
            }
>>>>>>> be1e9c0b56af2a484c4bddaa7b2ac7992b103f3e
        }
    }
}
