//Colours
$heading-light: #ffffff;
$heading-dark: #222322;

$text-light: #ffffff;
$text-dark: #4a4a4a;
$text-grey: #9B9B9B;

$small-text-dark: #9B9B9B;
$small-text-burgundy: #7B0040;

$accent-yellow: #FACE42;
$accent-pink: #EA1E76;
$accent-burgundy: #7B0040;
$accent-blue: #096A92;

$bg-dark: #343434;
$bg-grey: #9B9B9B;
$bg-light: #F5F7F6;
$bg-toggle-inactive: #DFDFDF;
$bg-toggle-active: #FFFFFF;


//Fonts
$proxima-nova: 'proxima-nova';
$proxima-nova-alt: 'proxima-nova-alt';
$proxima-nova-scosf: 'proxima-nova-scosf';
$d-din: 'd-din';

//Breakpoints
$xsmall: 480px;
$small: 736px;
$medium: 980px;
$large: 1280px;
$xlarge: 1690px;