.button {
    padding: 1.7rem 2.2rem;
    background-color: $accent-pink;
    color: $text-light;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $proxima-nova-alt;
    font-weight: 600;
    letter-spacing: 1px;

    &.button-dark {
        background-color: $bg-dark;
    }

    &.button-icon {
        img {
            position: relative;
            top: 0.5rem;
            margin-right: 0.5rem;
        }
    }
}

.button-row-normal {
    .button {
        margin-right: 2rem;
        display: inline-block;
        font-family: $d-din;
        font-size: 1.4rem;
        letter-spacing: 0.2rem;

        &.button-secondary {
            background-color: transparent;
            color: $accent-burgundy;
            border: 1px solid $accent-burgundy;
        }

        &:not(:first-of-type) {
            margin-left: 0 !important;
        }
    }
}