.page-template-template-groups .groups-intro {
    margin: 0;
}

.country-select-wrapper {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 3rem;
    padding-bottom: .5rem;
    .country-select {
        @include d-flex;
        @include align(c);
        padding: 1rem;
        background-color: white;
        border: 1rem solid #EA1E76;
        border-radius: .2rem;
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            background-color: #EA1E76;
            border-radius: .2rem;
            opacity: .3;
            width: 110%;
            height: 100%;
        }
        img {
            padding-right: 3rem;
        }
        i {
            padding-left: 3rem;
        }
    }
    .country-list {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 3rem 0;
        background-color: white;
        border-radius: .4rem;
        .country-header {
            padding: 0 3rem;
        }
        p{
            font-weight: 600;
            margin: 0;
            color: #949494;
        }
        .countries {
            text-align: left;
            .name {
                text-align: left;
                outline: none;
                background-color: transparent;
                border: 0;
                width: 100%;
                color: white;
                padding: 1rem 3rem;
                @include transition(1s,ease);
                .inner-name {
                    @include d-flex;
                    @include align(v);
                    padding: 1rem 0;
                    width: 100%;
                    border-bottom: 1px solid #949494;
                    img {
                        height: auto;
                        width: 3rem;
                    }
                    span {
                        padding: 0 1rem;
                        color: #5b5b5b;
                        font-weight: bold;
                    }
                    i {
                        color: #949494;
                        margin-left: auto;
                        @include transition(1s,ease);
                    }
                }
                &:hover {
                    background-color: rgba(0,0,0,.1);
                }
                &.active {
                    color: #949494;
                    i {
                        color: white;
                        transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                    }
                }
            }
            .country {
                color: #949494;
                .hostel {
                    @include d-flex;
                    font-weight: 600;
                    padding: 1rem 3rem;
                    padding-left: 6rem;
                    @include transition(1s,ease);
                    .lead {
                        width: 100%;
                        font-size: .8em;
                    }
                    &:hover {
                        background-color: rgba(0,0,0,.1);
                    }
                }
            }
        }
    }
}

#toggle-group-lightbox {
    @include d-flex;
    @include align(c);
    padding: 1.5rem;
    position: fixed;
    outline: none;
    z-index: 1000;
    color: white;
    font-size: 1.7em;
    background-color: #EA1E76;
    border: none;
    border-radius: 50%;
    top: 25%;
    right: 5%;
    height: 80px;
    width: 80px;
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        background-color: #EA1E76;
        border-radius: 50%;
        opacity: .7;
        height: 90px;
        width: 90px;
        animation: pulse 2s infinite;
    }
    img {
        max-width: 100%;
    }
}
#group-lightbox {
    @include d-flex;
    @include align(v);
    position: fixed;
    visibility: hidden;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .inner-group-lightbox {
        position: relative;
        padding: 5rem;
        background-color: #EA1E76;
        width: 80%;
        margin: 0 auto;
        opacity: 0;
        @include transition(1s,ease);
        .header {
            width: 100%;
            color: white;
            .left {
                @include d-flex;
                @include align(v);
                img {
                    width: 5rem;
                    height: auto;
                }
                span {
                    color: white;
                    padding-left: 3rem;
                }
            }
            .close-group-lightbox {
                position: absolute;
                cursor: pointer;
                top: 4rem;
                right: 4rem;
                height: 5rem;
                width: 5rem;
                z-index: 10;
                background-color: transparent;
                border: none;
                @include transition(1s,ease);
                .x {
                    @include d-flex;
                    @include align(c);
                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        height: .25rem;
                        width: 4rem;
                        background-color: white;
                    }
                    &:before {
                        transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                    }
                    &:after {
                        transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                }
            }
        }
        .content {
            text-align: center;
            img {
                width: 10rem;
                height: auto;
            }
            h3 {
                margin: 0;
                font-size: 3em;
                font-weight: 600;
                text-align: center;
                &:after {
                    content: none;
                }
            }
            .items {
                @include d-flex;
                .contact-item {
                    width: 33.33%;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    .item-inner {
                        height: 100%;
                        padding: 5rem 3rem;
                        text-align: center;
                        background-color: rgba(255,255,255,.2);
                        .click-wrapper {
                            cursor: pointer;
                            height: 10rem;
                            padding: 2rem;
                            img {
                                height: 100%;
                                width: auto;
                            }
                        }
                        h3 {
                            font-size: 2em;
                            margin: 0;
                            &:after {
                                content: none;
                            }
                        }
                        p {
                            font-weight: normal;
                            font-size: .8em;
                            color: white;
                            margin: 0;
                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .overlays {
            background-color: #101429;
            visibility: hidden;
            z-index: -1000;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            .header {
                @include d-flex;
                opacity: 0;
                width: 100%;
                color: white;
                @include transition(1s,ease);
                .left {
                    @include d-flex;
                    @include align(v);
                    img {
                        width: 5rem;
                        height: auto;
                    }
                    span {
                        color: white;
                        padding-left: 3rem;
                    }
                }
                .close-group-overlay {
                    margin-left: auto;
                    cursor: pointer;
                    height: 5rem;
                    width: 5rem;
                    background-color: transparent;
                    border: none;
                    @include transition(1s,ease);
                    .x {
                        @include d-flex;
                        @include align(c);
                        &:before,
                        &:after {
                            content: "";
                            position: absolute;
                            height: .25rem;
                            width: 4rem;
                            background-color: white;
                        }
                        &:before {
                            transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                        }
                        &:after {
                            transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                        }
                    }
                }
            }
            .overlay {
                display: none;
                .heading {
                    width: 100%;
                    text-align: center;
                    img {
                        width: 10rem;
                        height: auto;
                    }
                    h3 {
                        color: white;
                        font-size: 2em;
                        font-weight: 600;
                        &:after {
                            content: none;
                        }
                    }
                }
                .content {
                    @include d-flex;
                    height: 50rem;
                    .col-45,
                    .col-55 {
                        padding: 0 2.5rem;
                    }
                    .col-45 {
                        width: 45%;
                    }
                    .col-55 {
                        width: 55%;
                    }
                    .left {
                        height: 100%;
                        width: 100%;
                        @include d-flex;
                        @include align(c);
                        background-color: #4b4e5e;
                        .inner-content {
                            img {
                                width: 10rem;
                                height: auto;
                            }
                            p {
                                color: white;
                            }
                        }
                    }
                    .right {
                        @include d-flex;
                        @include align(c);
                        height: 100%;
                        width: 100%;
                        background-color: #252737;
                        .inner-content {
                            background-color: #ea1e76;
                            margin-left: -10rem;
                            width: 100%;
                            height: 80%;
                            p {
                                color: white;
                                margin: 0;
                                margin-bottom: 1rem;
                            }
                            textarea {
                                height: 10rem;
                                resize: none;
                            }
                        }
                    }
                }
                &.active {
                    display: block;
                }
            }
            &.active {
                z-index: 1000;
                visibility: visible;
                .header {
                    opacity: 1;
                }
            }
        }
    }
    &.active {
        z-index: 10000;
        visibility: visible;
        .inner-group-lightbox {
            opacity: 1;
        }
    }
}
.featured-hostels{
    .hostel {
        .info-container {
            @include d-flex;
            .info-wrap {
                width: 100%;
            }
            a {
                display: inline-block;
                margin: 2rem;
            }
            .features-row {
                margin-top: auto;
                width: 100%;
            }
        }
    }
}
