.city-details {



    .details-header {
        margin-top: -15rem;
        padding-top: 10rem;
        margin-bottom: 2rem;
        background-color: $accent-yellow;
    }

    .details-links {
        display: flex;
        list-style: none;
        padding-left: 0;
        justify-content: space-around;
        margin-bottom: 0;
        flex-basis: 0;

        li {
            flex-basis: 19%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.46);
            border-top-left-radius: 0.4rem;
            border-top-right-radius: 0.4rem;
            font-family: $proxima-nova-alt;
            font-weight: 600;
            color: #555555;
            font-size: 2rem;
            padding: 1rem;
            cursor: pointer;

            &.detail-link-active {
                background-color: $accent-pink;
                color: white;
                position: relative;

                &::after {
                    content: "";
                    width: 0; 
                    height: 0; 
                    border-left: 2rem solid transparent;
                    border-right: 2rem solid transparent;
                    border-top: 3rem solid $accent-pink;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            img {
                margin-right: 1rem;
            }
        }
    }

    .details-lower {
        padding: 6rem 0;
        padding-bottom: 4rem;
        border-bottom: 2px solid $accent-yellow;


        &.details-inactive {
            display: none;
        }

        &.details-map {
            margin-top: -2rem;
            background-image: url('/img/madrid-map.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 90rem;

            h1 {
                color: $text-dark;
                margin-top: 0;
                
            }
        }

        &.details-lower-offers {

            .details-offers-header {

                margin-bottom: 3rem;
                display: flex;

                .details-offers-header-left {
                    flex: 0 0 50%;

                    h1 {
                        margin-top: 0rem;
                        margin-bottom: 0rem;
                        color: $text-dark;
                    }

                    p {
                        padding-top: 0rem;
                        font-family: $proxima-nova-alt;
                        font-weight: 400;
                        font-size: 1.5rem;
                    }

                }

                .details-offers-header-right {
                    flex: 0 0 50%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    margin-bottom: 1.5rem;
                    

                    .button-row {
                        text-align: right;
                        
                        .button {
                            display: inline-block;
                            margin-right: 2rem;
                            font-size: 1.4rem;
                            font-family: $d-din;
                            font-weight: 600;
                            letter-spacing: 0.2rem;

                            &.button-secondary {
                                color: $accent-burgundy;
                                background-color: transparent;
                                border: 1px solid $accent-burgundy;
                            }
                        }                        
                    
                    }
                    
                }

            }

            .offer {
                background-color: white;
                flex: 0 0 calc(25% - 2rem);
                margin-left: 1rem;
                margin-right: 1rem;
            }

        }

        &.details-location-info {
            .grid-30 {

                flex: 0 0 40%;

                p {
                    padding-top: 0;
                    padding-bottom: 2rem;
                }

                .button-row {
                    position: relative;
                    margin-top: 7rem;
                    display: block;

                    .button {
                        font-family: $d-din;
                        font-size: 1.4rem;
                        font-weight: 600;
                        letter-spacing: 0.2rem;
                        width: initial;
                        margin-right: 2rem;
                        
                        
                        &.button-secondary {
                            background-color: transparent;
                            border: 1px solid $accent-burgundy;
                            color: $accent-burgundy;
                        }
                    }
                }

            }

            .grid-70 {

                flex: 0 0 60%;

                .map-frame {
                    width: 100% !important;
                    height: 100% !important;
                }

            }
        }

        &.details-lower-about {
            background-color: transparent;

            .row {
                margin-bottom: 8rem;
            }

            .button-row {
                padding-left: 18rem;

                .button {
                    display: inline-block;
                    font-family: $d-din;
                    font-weight: 600;
                    font-size: 1.4rem;
                    margin-left: 0;
                    margin-right: 2rem;

                    &.button-secondary {
                        background-color: transparent;
                        border: 1px solid $accent-burgundy;
                        color: $accent-burgundy;
                    }
                }
            }
        }

        &.details-lower-reviews {

            .review-upper {
                display: flex;

                .review-title {
                    flex: 0 0 33.3333%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;


                    h1 {
                        color: $text-dark;
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 6.6rem;
                    }

                    .button-row {
                        .button {
                            font-family: $d-din;
                            font-weight: 600;
                            font-size: 1.4rem;
                            margin-right: 2rem;
                            display: inline-block;

                            &.button-secondary {
                                background-color: transparent;
                                border: 1px solid $accent-burgundy;
                                color: $accent-burgundy;
                            }
                        }
                    }
                }

                .review-stars {
                    flex: 0 0 66.6666%;
                    display: flex;

                    border-top: 1px solid lighten(black, 80%);
                    border-bottom: 1px solid lighten(black, 80%);

                    .review-stars-half {
                        flex: 0 0 50%;

                        ul {
                            margin: 4rem 0rem;
                        }

                        li {
                            display: flex;
                            margin-bottom: 1.25rem;

                            span {
                                margin-right: 1rem;
                                font-family: $proxima-nova-alt;
                                font-size: 1.5rem;
                                color: $text-dark;
                                width: 9rem;
                            }

                            img {
                                margin-right: 0.25rem;
                            }
                        }
                    }
                }

            }

            .review-lower {
                
                .review-row {
                    display: flex;
                    margin-top: 8rem;

                    .review {
                        flex: 0 0 calc(33.3333% - 2rem);
                        margin-left: 1rem;
                        margin-right: 1rem;
                        background-color: white;
                        padding: 3rem;

                        h2 {
                            text-transform: initial;
                            color: $text-dark;
                            letter-spacing: initial;
                            margin-top: 0;
                            margin-bottom: 1rem;
                            font-weight: 600;

                        }

                        .date {
                            font-family: $proxima-nova-alt;
                            font-weight: 400;
                            color: lighten(black, 70%);
                        }

                        hr {
                            border-top: 1px solid lighten(black, 90%);
                            border-left: none;
                            border-right: none;
                            border-bottom: none;
                        }

                        p {
                            padding-top: 0;
                        }
                    }
                }

            }

            .navigator-inner {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 3rem;

                ul {
                    list-style: none;
                    padding-left: 0;
                    display: flex;
                    justify-content: center;
                    padding: 1.5rem;
                    margin-left: 2.5rem;
                    margin-right: 2.5rem;
                

                    li {
                        padding-left: 2rem;
                        padding-right: 2rem;
                        padding: 1rem 1.5rem;
                        font-family: $proxima-nova-alt;
                        font-weight: 600;
                        color: $accent-pink;
                        border-radius: 50%;
                        cursor: pointer;


                        &.navigator-active {
                            border: 2px solid $accent-pink;
                            
                        }
                    }
                }
            }

        }

        .facility-list {
            position: relative;
            padding-top: 0;

            h1 {
                color: $text-dark;
                margin-top: 0;
                margin-bottom: 2rem;
            }

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    display: flex;
                    align-items: center;
                    font-family: $proxima-nova-alt;
                    font-weight: 600;
                    color: $text-dark;
                    font-size: 2.2rem;
                    margin-bottom: 1.8rem;

                    .img-box {
                        flex-basis: 7.5rem;
                    }
                }
            }

            .button-row {
                position: absolute;
                bottom: 3rem;
                width: 100%;
                display: flex;
                justify-content: space-between;

                .button {
                    display: inline-block;
                    width: calc(50% - 1rem);
                    text-align: center;
                }

                .button-prev {
                    background-color: transparent;
                    border: 1px solid $accent-burgundy;
                    color: $accent-burgundy;
                    opacity: 0.15;
                }

                .button-next {
                    background-color: $accent-burgundy;
                }
            }
        }

        p {
            font-family: $proxima-nova-alt;
            font-weight: 400;
            font-size: 1.5rem;
            color: $text-dark;
            line-height: 2.4rem;
            padding-top: 3.4rem;
        }

        .room-cards {
            display: flex;
            justify-content: space-between;

            .room {
                flex: 0 0 calc(50% - 1rem);
                position: relative;
                background-color: white;

                .main-card-img {
                    width: 100%;
                }
                
                .cost {
                    position: absolute;
                    background-color: $accent-burgundy;
                    top: 2.5rem;
                    padding: 1rem 3.3rem;
                    color: white;
                    font-family: $proxima-nova-alt;
                    font-weight: 400;
                    font-size: 1.6rem;
                }

                .buttons {
                    transform: translateY(-50%);
                    text-align: center;
                    
                    .button {
                        display: inline-block;
                        margin-top: -0.4rem;
                        font-size: 1.4rem;

                        &:first-of-type {
                            margin-right: 1rem;
                            width: 40%;
                        }

                        &:last-of-type {
                            width: 35%;
                            background-color: $accent-burgundy;
                        }
                    }
                }

                .info-container {
                    width: 80%;
                    margin: 0 auto;
                }

                h4 {
                    font-family: $proxima-nova;
                    display: block;
                    font-weight: 500;
                    font-size: 3.5rem;
                    color: $text-dark;
                    position: relative;
                    margin-bottom: 2.5rem;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -1rem;
                        left: 0;
                        width: 100%;
                        height: 0.3rem;
                        background-color: #DFDFDF;
                    }
                }

                .sleep-counter {
                    font-family: $proxima-nova-alt;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: black;
                    line-height: 1.9rem;
                    font-size: 1.4rem;
                    letter-spacing: 0.1rem;
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 1rem;
                    }
                }

                p {
                    padding-top: 0;
                }
            }
        }
    }
}