.explorer {
    background-color: white;
    padding-top: 12rem;
    margin-bottom: 0;
    padding-bottom: 4rem;

    h1 {
        color: $text-dark;
        font-size: 6.5rem;
    }

    .title-lead {
        color: $text-dark;
        padding-top: 2rem;
    }

    .explore-row {
        display: flex;
        height: 600px;

        .flex-width-75 {
            flex: 0 0 75%;
        }

        .flex-width-20 {
            flex: 0 0 20%;
            margin-left: 1rem;
        }

        .explore-vertical-stack {
            display: flex;
            flex-direction: column;
            width: 100%;

            .explore-vertical-25 {
                flex: 0 0 calc(25% - 2rem);
                display: flex;
                margin-top: 1rem;
                margin-bottom: 1rem;
                align-items: center;
            }

            .explore-vertical-50 {
                flex: 0 0 calc(50% - 2rem);
                display: flex;
                margin-top: 1rem;
                margin-bottom: 0rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;

                span {
                    
                    padding: 1.3rem;
                    position: absolute;
                    bottom: 0;
                    left: 2rem;
                    color: white;
                    font-family: $proxima-nova-alt;
                    font-weight: 600;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;

                    &.restaurants-col {
                        background-color:#701D45;
                    }

                    &.arts-col {
                        background-color:#58595B;
                    }
                }
            }

            .explore-vertical-75 {
                flex: 0 0 calc(75% - 2rem);
                margin-left: 1rem;
                margin-right: 1rem;
                display: flex;
                padding-top: 2rem;
            }
        }

        .explore-horizontal-50 {
            flex: 0 0 calc(50% - 2rem);
            margin-right: 1rem;
            margin-left: 1rem;

        }
    }

    .hashtag-block {
        background-color: #F5F7F6;
        font-family: $proxima-nova;
        font-weight: 500;
        font-size: 3.5rem;
        color: $text-dark;
        padding: 4.5rem;
    }

    .featured-tour {
        background-image: url('/img/madrid-bg-2.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 0;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        .tour-info {
            padding-left: 3.5rem;
            max-width: 50rem;

            h5 {
                color: white;
                font-family: $proxima-nova;
                font-weight: 500;
                font-size: 3.5rem;
                line-height: 4.2rem;
                margin-bottom: 2rem;
                max-width: 40rem;
            }
        }

        span {
            background-color:#AEBB60;
            padding: 1.3rem;
            position: absolute;
            top: 0;
            left: 4rem;
            color: white;
            font-family: $proxima-nova-alt;
            font-weight: 600;
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }

        .plus-icon {
            position: absolute;
            bottom: 3.5rem;
            right: 3.5rem;
        }
    }
}

.explorer-filters {
    margin-top: -2rem;
    
    .filters-inner {

        padding: 0rem 12rem;
        display: flex;

        .filter {
            flex: 0 0 calc(33% - 2rem);
            margin-left: 1rem;
            margin-right: 1rem;
            position: relative;

            select {
                width: 100%;
                -webkit-appearance: none;
                appearance: none;
                border: none;
                background-color: #e2e2e2;
                padding: 1.2rem 1.2rem 1.2rem 4rem;
                font-family: $proxima-nova-alt;
                font-weight: 600;
                color: $text-dark;
                font-size: 2.4rem;
            }

            img {
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translateY(-50%);
            }
        }
    }
}

.explorer-header {

    margin-top: 6rem;
    text-align: center;

    h1, h2 {
        color: $text-dark;
        margin: 0;
    }

    h2 {
        font-size: 2.6rem;
        text-transform: initial;
        letter-spacing: initial;
    }

    h1 {
        font-size: 6.6rem;
        margin-top: 1rem;
    }
}

.explorer-featured {
    margin-top: 6rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;

    img {
        width: 100%;
        border-radius: 0.4rem;
    }

    .location {
        position: absolute;
        top: 0;
        left: 4rem;
        background-color: green;
        color: white;
        padding: 1.3rem 1.8rem;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        font-family: $d-din;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;

        &.loc-uk {
            background-color: #4A90E2;
        }

        &.loc-czech {
            background-color: #D42E12;
        }

        &.loc-spain {
            background-color: $accent-yellow;
        }

        &.loc-portugal {
            background-color: #4F9F65;
        }
    }

    .title {
        position: absolute;
        background-color: white;
        bottom: 4.5rem;
        left: 4rem;
        padding: 3rem;
        border-radius: 0.4rem;

        max-width: 40%;
        
        p {
            font-family: $proxima-nova;
            font-weight: 500;
            font-size: 3rem;
            color: $text-dark;
        }

        span {
            font-size: 1.8rem;
            font-family: $proxima-nova-alt;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.129rem;
            background-color: none !important;

            &.tag-inspiration {
                color: $accent-burgundy;
            }
        }
    }
}

.explorer-grid-row {
    margin-top: 2rem;
    display: flex;

    .explorer-grid-item {
        background-color: white;
        border-radius: 0.4rem;
        flex: 0 0 calc(25% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
        position: relative;

        img {
            border-radius: 0;
            border-top-left-radius: 0.4rem;
            border-top-right-radius: 0.4rem;
            width: 100%;
        }

        .item-inner {
            padding: 2rem;

            .location {
                position: absolute;
                top: 0;
                left: 2rem;
                background-color: green;
                color: white;
                padding: 1.3rem 1.8rem;
                border-bottom-left-radius: 0.4rem;
                border-bottom-right-radius: 0.4rem;
                font-family: $d-din;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1.4rem;
                letter-spacing: 0.1rem;
        
                &.loc-uk {
                    background-color: #4A90E2;
                }
        
                &.loc-czech {
                    background-color: #D42E12;
                }
        
                &.loc-spain {
                    background-color: $accent-yellow;
                }
        
                &.loc-portugal {
                    background-color: #4F9F65;
                }
            }

            .title {
                
                p {
                    font-family: $proxima-nova;
                    font-weight: 500;
                    font-size: 2.4rem;
                    color: $text-dark;
                    margin-bottom: 1rem;

                    &:last-of-type {
                        font-family: $proxima-nova-alt;
                        font-weight: 400;
                        font-size: 1.5rem;
                        margin-top: 0;
                        line-height: 2.4rem;
                    }
                }
        
                span {
                    font-size: 1.8rem;
                    font-family: $proxima-nova-alt;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.129rem;
                    background-color: none !important;
        
                    &.tag-inspiration {
                        color: $accent-burgundy;
                    }

                    &.tag-offer {
                        color: #8A9545;
                    }
                }
            }
        }
    }
}

.load-more-row {
    text-align: center;

    .button {
        margin: 10rem 0rem;
        display: inline-block;
        background-color: $bg-dark;
        font-family: $d-din;
        font-weight: 600;
        font-size: 1.4rem;
        color: white;
        letter-spacing: 0.156rem;
        cursor: pointer;
    }
}

.image-container.ignore-padding {
    width: calc(100% + 10rem);
    transform: translateX(-5rem);

    img {
        width: 100%;
        transform: translateY(1rem);
    }
}

.related-offers {

    .title-row {
        text-align: center;
        padding-top: 8rem;
        padding-bottom: 5rem;

        h4 {
            font-size: 3.6rem;
            font-weight: 600;
        }
    }

}

.related-offers-row {

    .offer {
        flex: 0 0 calc(25% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

.offer-info-inner,
.page-info-inner {
    padding: 3rem;

    h4 {
        font-size: 3rem;
        font-family: $proxima-nova-alt;
        font-weight: 600;
        margin-top: 0;
    }

    .code-box {
        display: block;
        background-color: $bg-light;
        padding: 1rem;
        margin-top: 1rem;
        font-family: $d-din;
        font-size: 2rem;
        font-weight: 400;
        color: $text-dark;
    }

    h5 {
        font-family: $proxima-nova-alt;
        font-weight: 600;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: $text-dark;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 3rem;
    }

    .button {
        display: block;
        text-align: center;
        font-family: $d-din;
        font-size: 1.4rem;
    }
}

.offer-info-inactive {
    display: none;
}

.booking-toggle {
    cursor: pointer;
}

.about-template {
    p {
        &:last-of-type {
            padding-bottom: 3rem;
        }
    }
}

.page-info-inner {
    h4 {
        color: white;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 5rem;

        li {
            color: white;
            font-family: $d-din;
            font-size: 1.8rem;
            margin-bottom: 2rem;
            position: relative;
            cursor: pointer;
            
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: -1rem;
                left: 0;
                background-color: white;
            }
        }
    }

    .button {
        display: block;
        width: 100%;
    }
}

.page-row {
    display: block;
}

.investor-info-row {
    position: absolute;
    top: -11rem;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    

    .investor-item {
        width: 25rem;
        height: 25rem;
        background-color: white;
        border-radius: 50%;
        position: relative;
        margin-right: 2rem;

        .investor-inner {
            width: 23rem;
            height: 23rem;
            background-color: transparent;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            border: 2px dotted $accent-burgundy;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .small {
                font-family: $d-din;
                color: $accent-burgundy;
                font-weight: 600;
                font-size: 1.4rem;
                text-transform: uppercase;
            }

            h5 {
                margin: 1rem 0;
                font-family: $d-din;
                font-weight: 600;
                font-size: 3.3rem;
                color: $accent-burgundy;
            }

            hr {
                border-bottom: 2px dotted $accent-pink;
                border-top: 0;
            }

            .smallest {
                color: lighten(black, 60%);
                font-family: $d-din;
                font-size: 1.2rem;
            }
        }
    }
}