footer {
    background-color: $bg-dark;
    padding: 4rem 0;
    .upper-title {
        color: white;
        font-family: $proxima-nova-alt;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 1.4rem;
        margin-bottom: 0.6rem;
    }
    h1 {
        color: white;
        font-size: 3.5rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .lower-title {
        font-family: $proxima-nova-alt;
        font-weight: 500;
        color: white;
        font-size: 1.7rem;
        margin-bottom: 4rem;
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            color: white;
            font-family: $proxima-nova-alt;
            font-weight: 500;
            font-size: 1.7rem;
            strong {
                padding-right: 1rem;
            }
            a {
                color: white;
                text-decoration: none;
                @include transition(0.5s,ease);
                &:hover {
                    color: #ea1e76 !important;
                }
            }
        }
    }
    .button {
        display: inline-block;
        margin-top: 3rem;
        background-color: #fff;
        color:#343434;
        &:hover {
            background-color: #FACE42;
            color:#fff;
        }
    }
    .footer-nav {
        margin: 0 -2rem;
        margin-left: auto;
        @include d-flex;
        .footer-nav-item {
            padding: 0 2rem;
            h5 {
                font-family: $proxima-nova-alt;
                color: white;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.4rem;
            }
            ul {
                li {
                    a {
                        color: white;
                        text-decoration: none;
                        font-family: $proxima-nova-alt;
                        font-weight: 400;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .copyright-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: white;
        font-family: $proxima-nova-alt;
        font-weight: 400;
        font-size: 1.4rem;
        .copy-links {
            @include d-flex;
            ul {
                @include d-flex;
                margin-left: auto;
                margin-top: 0;
                li {
                    padding-left: 1.8rem;
                    a {
                        color: white;
                        text-decoration: none;
                        font-family: $proxima-nova-alt;
                        font-weight: 400;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}
