.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    @include d-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 1002;
    visibility: hidden;
    option {
        background-color: $accent-burgundy;
        border: none;
    }
    .links-segment,
    .slider-row {
        a {
            opacity: .7;
            @include transition(1s,cubic-bezier(.19,1,.22,1));
            &:hover {
                opacity: 1;
            }
        }
    }
    .top-segment,
    .bottom-segment{
        height: 50%;
        visibility: hidden;
        overflow: hidden;
        @include transition(1s,cubic-bezier(.19,1,.22,1));
    }
    .top-segment {
        background-color: $accent-burgundy;
        transform: translateX(-120%) skewX(-15deg);
        -o-transform: translateX(-120%) skewX(-15deg);
        -moz-transform: translateX(-120%) skewX(-15deg);
        -webkit-transform: translateX(-120%) skewX(-15deg);
        .icon-row {
            @include d-flex;
            @include align(v);
            justify-content: space-between;
            -webkit-justify-content: space-between;
            padding-top: 3rem;
            opacity: 0;
            @include transition(1s,ease);
            .links-segment {
                @include d-flex;
                @include align(v);
            }
            ul {
                @include d-flex;
                justify-content: space-around;
                -webkit-justify-content: space-around;
                padding-left: 0;
                list-style: none;
                li {
                    padding-right: 2rem;
                    a {
                        color: white;
                        text-decoration: none;
                        font-family: $proxima-nova-alt;
                        font-weight: 400;
                        font-size: 2.4rem;
                        &:last-child {
                            padding-right: 1rem;
                        }
                    }
                }
            }
        }
        .location-select {
            position: relative;
            display: inline-block;
            padding-top: 7rem;
            font-weight: 400;
            color: white;
            font-size: 2.4rem;
            opacity: 0;
            @include transition(1s,ease);
            select {
                padding-right: 1rem;
                outline: none;
                cursor: pointer;
                opacity: .5;
                appearance: none;
                -o-appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                background-color: transparent;
                border: none;
                color: white;
                font-weight: 600;
                @include transition(1s,ease);
                &:hover{
                    opacity: 1;
                }
            }
            .loc-dropdown {
                position: absolute;
                z-index: -1;
                bottom: 1px;
                right: 0;
                width: 30px;
                height: auto;
            }
        }
        .locations-carousel-group {
            padding-top: 4rem;
            .location-carousel {
                height: 0;
                overflow: hidden;
                .owl-stage-outer{
                    overflow: visible;
                }
                .owl-item {
                    opacity: 0;
                    margin-top: -5rem;
                    @include transition(1s,ease);
                    .location{
                        color: white;
                        font-weight: 600;
                        font-size: 6rem;
                        white-space: nowrap;
                        opacity: .5;
                        @include transition(1s,ease);
                        &:hover{
                            opacity: 1;
                        }
                        a{
                            color: white;
                        }
                        .dash{
                            padding-right: 2rem;
                        }
                    }
                    &:last-child{
                        .dash{
                            display: none;
                        }
                    }
                }
                &.active {
                    height: unset;
                }
            }
        }
    }
    .bottom-segment {
        @include d-flex;
        background-color: white;
        transform: translateX(120%) skewX(-15deg);
        -o-transform: translateX(120%) skewX(-15deg);
        -moz-transform: translateX(120%) skewX(-15deg);
        -webkit-transform: translateX(120%) skewX(-15deg);
        a.bottom-item {
            position: relative;
            display: block;
            width: 33.33%;
            height: 100%;
            overflow: hidden;
            background-color: #7B0040;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            .title {
                position: absolute;
                @include d-flex;
                @include align(v);
                bottom: 8rem;
                right: 0;
                width: 100%;
                padding: 0 3rem;
                opacity: 0;
                @include transition(1s,ease);
                h2 {
                    margin: 0;
                    text-transform: initial;
                    font-family: $proxima-nova;
                    font-weight: 500;
                    letter-spacing: initial;
                    font-size: 3em;
                    padding-right: 3rem;
                }
                .arrow {
                    @include d-flex;
                    @include align(c);
                    width: 40px;
                    height: 40px;
                    background-color: #ff2261;
                    border-radius: 50%;
                    color: white;
                    @include transition(.5s,ease);
                }
            }
            img.bg-image{
                opacity: .5;
                height: 100%;
                width: 100%;
                object-fit: cover;
                @include transition(3s,cubic-bezier(.19,1,.22,1));
                transform: scale(1.25);
                -o-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -webkit-transform: scale(1.25);
            }
        }
    }

    &.active{
        .icon-row,
        .location-select{
            opacity: 1;
        }
        .top-segment,
        .bottom-segment{
            visibility: visible;
            transform: translateX(0) skewX(0);
            -o-transform: translateX(0) skewX(0);
            -moz-transform: translateX(0) skewX(0);
            -webkit-transform: translateX(0) skewX(0);
        }
    }
    &.finished{
        .top-segment {
            .locations-carousel-group {
                .location-carousel {
                    &.active{
                        .owl-item {
                            opacity: 1;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
        .bottom-segment{
            a.bottom-item{
                .title{
                    bottom: 5rem;
                    opacity: .7;
                }
                &:hover{
                    img.bg-image{
                        opacity: 1;
                        transform: scale(1);
                        -o-transform: scale(1);
                        -moz-transform: scale(1);
                        -webkit-transform: scale(1);
                    }
                    .title{
                        opacity: 1;
                        .arrow {
                            color: #ff2261;
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}

.toggle-navigation {
    cursor: pointer;
}

.menu-close-toggle {
    cursor: pointer;
}
