.membership {
    padding-top: 12rem;
    background-color: white;

    h1 {
        color: $text-dark;
        font-size: 6.5rem;
        margin-top: 0rem;
    }

    p {
        font-family: $proxima-nova-alt;
        font-weight: 400;
        line-height: 2.4rem;
        color: $text-dark;
        font-size: 1.5rem;
        
        &:first-of-type {
            margin-top: 1rem;
        }
    }

    .item {
        display: flex;
        align-items: center;

        img {
            padding-right: 1rem;
        }

        p {
            font-family: $proxima-nova-alt;
            font-weight: 600;
            margin: 0;
            font-size: 2.4rem;
        }
    }

    .button {
        display: inline-block;
        margin-top: 4.5rem;
    }
}