nav.safestay-nav {
    height: 100px;
    position: fixed;
    z-index: 1001;
    top: 0;
    width: 100%;
    .nav-inner {
        @include d-flex;
        @include align(v);
        height: 100%;
        opacity: 1;
        .logo {
            padding-right: 6rem;
            opacity: 1;
            cursor: pointer;
            @include transition(0.5s,ease);
            &:hover{
                opacity: 0.6;
            }
            a {
                display: block;
                img {
                    width:100%;
                }
            }
        }
        .link {
            padding-right: 5rem;
            @include d-flex;
            @include align(v);
            opacity: 1;
            cursor: pointer;
            @include transition(0.5s,ease);
            &:hover{
                opacity: 0.6;
            }
            a {
                color: $text-light;
                font-family: $proxima-nova-alt;
                font-weight: 600;
                font-size: 2rem;
                text-decoration: none;
                padding-left: 2rem;
            }
            img {
                height: 30px;
                width: auto;
            }
        }
    }

    .nav-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 100px;
        @include d-flex;

        .nav-toggle {
            @include d-flex;
            @include align(c);
            cursor: pointer;
            padding-left: 4.5rem;
            padding-right: 4.5rem;
            height: 100%;
            @include transition(0.5s,ease);
            &.toggle-language {
                background-color: rgba(255, 24, 97, 0.45);
                padding-left: 3rem;
                padding-right: 3rem;
                &:hover{
                    background-color: rgba(255, 24, 97, 0.25);
                }
            }
            &.toggle-calendar {
                background-color: $accent-pink;
                opacity: 1;
                &:hover{
                    opacity: 0.6;
                }
            }
            &.toggle-navigation {
                background-color: $accent-burgundy;
                opacity: 1;
                @include transition(0.5s,ease);
                &:hover{
                    opacity: 0.6;
                }
            }
            a {
                color: $text-light;
                font-size: 2rem;
                font-family: $proxima-nova-alt;
                font-weight: 600;
                text-decoration: none;

                img {
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

.header-img {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: .7;
    }
}

.nav-background {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #7b0040;
    width: 0;
    height: 100px;
    @include transition(.3s,linear);
    &.animate-out {
        width: 0%;
    }
    &.animate-in {
        width: 100%;
    }
}

@keyframes navAnimateIn {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes navAnimateOut {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}
