.scrolling-banner {
    width: 100%;
    white-space: nowrap;
    text-align: center;

    &.sb-white {
        background-color: white;
    }

    &.padded-large {
        padding-top: 8rem;
    }





    .banner-item {
        display: inline-block;
        margin-top: -2rem;
        color: black;
        opacity: 0.1;
        padding-left: 3rem;
        cursor: pointer;

        &.active {
            opacity: 1;

            &:first-of-type{
                color: #CE003B;
                
            }

            &:nth-of-type(2) {
                color: #4F9F65;
            }

            &:nth-of-type(3) {
                color: $accent-yellow;
            }

            &:last-of-type {
                color: #CE003B;
            }

            &:last-of-type {
                color: $accent-blue;
            }
        }

        &.active-uk {
            color: $accent-blue;
            opacity: 1;
        }
    }
}