.scrolling-banner {
    width: 100%;
    white-space: nowrap;
    text-align: center;

    &.sb-white {
        background-color: white;
    }

    &.padded-large {
        padding-top: 8rem;
    }



    .banner-item {
        display: inline-block;
        margin-top: -2rem;
        color: black;
        opacity: 0.1;
        padding-left: 3rem;
        cursor: pointer;

        &.active {
            color: $accent-yellow;
            opacity: 1;
        }

        &.active-uk {
            color: $accent-blue;
            opacity: 1;
        }
    }
}